h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

h1 {
  background-color: #0000FF;
  color: red;
}

h2 {
  background-color: #FF0000;
  color: blue;
}
  table,
  th,
  td {
    border: 1px solid black;
  }
  th {
    background-color: #0000FF;
    color: red;
  }
  tr {
    background-color: #FF0000;
    color: blue;
  }
  tr:hover {
    background-color: #0000FF
  }
  div {
    text-align: justify;
  }
  <table style="text-align:center;"> h1 {
    color: blue;
  }
  h2 {
    color: ;
}
